#about {
  background-color: #f8f9fa; /* Light background color */
  color: #333; /* Text color */
  padding: 100px 0; /* Adjust the padding as needed */
  .experience {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 2.5s, transform 2.5s;
  }
  
  .experience.animate {
    opacity: 1;
    transform: translateX(0);
  }
  
  .about-wrapper {
    display: flex;
    justify-content: space-between;

    @include respond(phone) {
      flex-direction: column;
    }

    &__image {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 100%;
        height: auto;
        border-radius: 50%; /* Make the profile image circular */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
      }
    }

    &__info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 20px; /* Add padding for spacing */

      @include respond(phone) {
        text-align: center;
        padding: 20px 0; /* Adjust the padding for spacing */
      }

      .section-title {
        font-size: 28px; /* Adjust the font size */
        margin-bottom: 20px; /* Add space below the title */
      }

      .about-text {
        font-size: 16px; /* Adjust the font size */
        line-height: 1.6; /* Improve text readability */
        margin-bottom: 20px; /* Add space between paragraphs */
      }.experience {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s, transform 0.5s;
}

.experience.animate {
  opacity: 1;
  transform: translateX(0);
}


      .btn {
        font-size: 16px; /* Adjust the font size of the button */
        padding: 10px 20px; /* Add padding to the button */
        border-radius: 5px; /* Add rounded corners to the button */
        background-color: #007bff; /* Button background color */
        color: #fff; /* Button text color */
        text-decoration: none; /* Remove underline from the button */
        transition: background-color 0.3s ease; /* Smooth button hover effect */

        &:hover {
          background-color: #0056b3; /* Button background color on hover */
        }
      }
    }
  }
}
